# SPDX-FileCopyrightText: 2026 Neptuwunium
#
# SPDX-License-Identifier: EUPL-1.2

[submodule "Library/glTFScaffold"]
	path = Library/glTFScaffold
	url = git@github.com:neptuwunium/glTFScaffold.git
[submodule "Library/Triton"]
	path = Library/Triton
	url = git@github.com:neptuwunium/Triton.git
[submodule "Library/DragonLib"]
	path = Library/DragonLib
	url = git@github.com:neptuwunium/DragonLib.git
[submodule "Library/Ferment"]
	path = Library/Ferment
	url = git@github.com:neptuwunium/Ferment.git
