# SPDX-FileCopyrightText: 2026 Neptuwunium
#
# SPDX-License-Identifier: EUPL-1.2

[submodule "Library/Ferment"]
	path = Library/Ferment
	url = https://github.com/neptuwunium/Ferment.git
[submodule "Library/Neptune"]
	path = Library/Neptune
	url = https://github.com/neptuwunium/Neptune.git
