# SPDX-FileCopyrightText: 2025 Ada N
#
# SPDX-License-Identifier: EUPL-1.2

# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.Akizuki.iml
/projectSettingsUpdater.xml
